
/* Start Plans Page */
.plans-page {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  }
  @media (max-width: 767px) {
    .plans-page {
      grid-template-columns: minmax(250px, 1fr);
      margin-left: 10px;
      margin-right: 10px;
      gap: 10px;
    }
  }
  .plans-page .plan .top {
    border: 3px solid white;
    outline: 3px solid transparent;
  }
  .plans-page .plan.green .top {
    outline-color: var(--green-color);
  }
  .plans-page .plan.blue .top {
    outline-color: var(--blue-color);
  }
  .plans-page .plan.orange .top {
    outline-color: var(--orange-color);
  }
  .plans-page .plan .price {
    position: relative;
    font-size: 40px;
    width: fit-content;
    margin: auto;
  }
  .plans-page .plan .price span {
    position: absolute;
    left: -20px;
    top: 0;
    font-size: 25px;
  }
  .plans-page .plan ul li {
    padding: 15px 0;
    display: flex;
    align-items: center;
    font-size: 15px;
    border-bottom: 1px solid #eee;
  }
  .plans-page .plan ul li .yes {
    color: var(--green-color);
  }
  .plans-page .plan ul li i:not(.yes, .help) {
    color: var(--red-color);
  }
  .plans-page .plan ul li i:first-child {
    font-size: 18px;
    margin-right: 5px;
  }
  .plans-page .plan ul li .help {
    color: var(--grey-color);
    margin-left: auto;
    cursor: pointer;
  }
  /* End Plans Page */
  /* Start Animation */
  @keyframes change-color {
    from {
      background-color: var(--blue-color);
    }
    to {
      background-color: white;
    }
  }
  @keyframes go-up {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
  }
  /* End Animation */